{% extends './base.html' %}


{% block title %}
<title>This is amazing!</title>
{% endblock title %}



{% block content  %}
<h1>Hello, world!</h1>
<div id="tweets">
    Replace me
</div>
<script>
    const tweetsElement = document.getElementById('tweets')

    function formatTweetElement(tweet) {
        var formattedTweet = `<div class='mb-4 tweet' id=tweet-${tweet.id}>
            <p>${tweet.content}</p></div>`
        return formattedTweet
    }
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweet/list/'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr

    }
    xhr.send()
</script>
{% endblock content  %}