{% extends './base.html' %}


{% block title %}
<title>This is amazing!</title>
{% endblock title %}



{% block content  %}
<div class="row text-center">
    <h1>Welcome to Tweetme</h1>
</div>

<div class="row" id="tweets">
    Replace me
</div>
<script>
    const tweetsElement = document.getElementById('tweets')
    function handleDidLike(id, numberOfLikes) {
        console.log(id, numberOfLikes)
    }

    function likeBtn(tweet) {
        return `<button class='btn btn-primary' onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>`

    }

    function formatTweetElement(tweet) {
        var formattedTweet = `<div class='col-12 col-md-10 col-auto border rounded mb-4 py-4' id=tweet-${tweet.id}>
            <p>${tweet.content}</p>
            <div class='btn-group'>${likeBtn(tweet)}</div>
        </div>`
        return formattedTweet
    }
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweet/list/'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr

    }
    xhr.send()
</script>
{% endblock content  %}