{% extends './base.html' %}


{% block title %}
<title>This is amazing!</title>
{% endblock title %}



{% block content  %}
<div class="row text-center">
    <h1>Welcome to Tweet me</h1>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" method="POST" action="{% url 'tweets:create' %}" id="tweet-create-form">
            {% csrf_token %}
            <input type="hidden" value="/tweet/" name="next" />
            <textarea name="content" id="content" cols="30" rows="10" class="form-control"
                placeholder="Type a tweet ..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Replace me
</div>
{% endblock content %}



{% block scripts %}
<script>
            const tweetsEl = document.getElementById('tweets')
            const tweetCreateFormEl = document.getElementById('tweet-create-form')
            tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

            function handleTweetCreateFormDidSubmit(event) {
                event.preventDefault()

            }
    function handleDidLike(id, numberOfLikes) {
        console.log(id, numberOfLikes)
    }

    function likeBtn(tweet) {
        return `<button class='btn btn-primary' onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>`

    }

    function formatTweetElement(tweet) {
        var formattedTweet = `<div class='col-12 col-md-10 col-auto border rounded mb-4 py-4' id=tweet-${tweet.id}>
            <p>${tweet.content}</p>
            <div class='btn-group'>${likeBtn(tweet)}</div>
        </div>`
        return formattedTweet
    }

    function loadTweets(tweetsElements) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweet/list/'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            const listedItems = serverResponse.response
            var finalTweetStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetStr

        }
        xhr.send()
                                                    }
                                                    loadTweets(tweetsEl)
</script>    
{% endblock scripts %}